@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    MGA<br />
    An Address<br />
    Wherever<br />
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:contact@example.com">contact@example.com</a><br />
</address>