@{
    ViewBag.Title = "Manage Data";
}

<div class="jumbotron">
    <h1>Manage Data</h1>
    <p> @Html.ActionLink("Ponies", "Index", "Ponies") </p>
    <p> @Html.ActionLink("Riders", "Index", "Riders") </p>
    <p> @Html.ActionLink("Teams", "Index", "Teams") </p>
</div>

